.badge-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.bg-light-success {
    background-color: #d1fae5;
}

.text-success {
    color: #10b981 !important;
}